html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*========= start header =========*/
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 0;
}
header h1, header a { 
    text-decoration: none;
    color: white;
	font-size: 40px;
    font-size:calc(10vw + 2vw);
	-webkit-text-stroke: 2px black;
}
/* name edgar martinez */
header h1 {
    margin: 0;
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.fname {
    margin-right: 15px;
}
/* navigation */
header nav {
    width: 60vw;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
header nav ul .tabs {
    list-style: none;
    margin: 5px;
}
header nav ul .tabs a {
    font-size:calc(5vw + 2vw);
}
/* navigation turns gray when hovering */
header nav a:hover {
    color: #CACACA;
    -webkit-text-stroke: 2px #CACACA;
}
/*========= end header =========*/

/*========= start main =========*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

/*========= top button =========*/
/* text will return user to top of page */
.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.top-button-link {
    text-decoration: none;
}
.top-button-text {
    font-size: 2.5rem;
    color: white;
    -webkit-text-stroke: 1.5px black; 
    text-align: center;
}
/* text turns gray when hovering */
.top-button-text:hover {
    color: #CACACA;
    -webkit-text-stroke: 2px #CACACA;
}
/*========= end top-button =========*/

/*========= start glasses-image =========*/
/* glasses image */
.glasses-image {
    width: fit-content;
    margin: auto;
}
.glasses-image img {
    width: 100%;
}
/*========= end glasses-image =========*/

/*========= subheadings =========*/
/* about, work, contact headings */
.subheading {
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 2px black;
    margin-bottom: -1.3rem;
}

/*========= about =========*/
.about {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.about-details {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    align-items: center;
}
.about-image {
    width: fit-content;
    height: fit-content;
}
.about-image img {
    width: 200px;
    height: 200px;
}
.about-text {
    line-height: 2;
    width: 60%;
}
/*========= end about =========*/

/*========= work =========*/
.work {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.projects {
    height: 15vh;
    border-radius: 5%;
}
.projects img {
    width: 100%;
    border-radius: 5%;
}
.project-1 {
    height: fit-content;
}
.project-1-text {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    -webkit-text-stroke: 1.5px black;
}
.small-projects-1,.small-projects-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3vw;
}
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
    border: 1px solid black;
    width: 130px;
    flex-grow: 1;
}
.projects {
    text-decoration: none;
}
/* projects coming soon boxes */
.coming-soon {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    -webkit-text-stroke: 1.5px black;
}
.coming-soon-text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.large-project:hover {
    opacity: 0.5;
}
.coming-soon:hover {
    background-color: #CACACA;
    border: none;
    -webkit-text-stroke: 1.5px white;
}
/*========= end work =========*/

/*========= contact =========*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}
.contact-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.contact .icons {
    height: 100px;
    width: 100px;
}
.contact img {
    width: 100%;
}
/*========= end contact =========*/
/*========= end main =========*/

/*========= start footer =========*/
footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 2vh;
}
footer p {
    color: white;
    font-size: 2vw;
	-webkit-text-stroke: 1.5px black;
    text-align: center;
}
/*========= end footer =========*/

/* media  */
@media screen and (min-width: 0) and (max-width: 760px) {
    header nav ul {
         flex-direction: column;
        align-items: center;
    }
    header nav ul li a {
        font-size:calc(5vw + 5vw);
    }
    .about-text {
        line-height: 1.5;
    }
    footer {
        font-size: 10vw;
        word-spacing: 5px;
        letter-spacing: 5px;
        -webkit-text-stroke: .5px black;
    }
}